<h3>Stations</h3>
<hr />

{{! This is the stations-list page}}
<table class="table table-bordered table-sm table-hoverx table-striped">
  <thead class="thead-dark" style="font-variant: small-caps">
    <tr>
      <th scope="col">s-no</th>
      <th scope="col">name</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    {{#if stations}}
      {{#each stations as |station index|}}
        <tr>
          <td scope="row">{{computeSno index}}</td>
          <td>{{station.name}}</td>
          <td>---</td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
